
 .window {
  width: 100%;
  margin: auto;
  
}
.selected-answer {
  background-color: yellow; /* Set your desired background color */
}
.content{
  
  margin:auto;
  background-image: url(./Images/questioning-concept-with-question-mark.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 98vh;
  width: 90vw;
}

#question{
  size:50px;
  margin-bottom: 20px;
}
.ratingText{
  size:20px;
  color: red;
}
.profileInputEdit{
  border:none;
  outline: none;
  width: 90%;
}

.myHistory{
  border-radius: 15px;
}
.side-navbar {
  
  height: 100vh;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.side-navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.side-navbar li {
  padding: 10px;
  cursor: pointer;
  
}

.side-navbar li:hover {
  background-color: #555;
}

 .app-container {
  display: flex;
} 
.subjects-container {
  display: flex;
  overflow-x: hidden;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}

.subjects {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.subjects li {
  margin-right: 10px;
}

.subjectForChoosing {
  background-color: #f2f2f2;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
}

.more-arrow-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
}

.more-arrow-container.left {
  left: 0;
}

.more-arrow-container.right {
  right: 0;
}

.more-arrow {
  font-size: 20px;
}
.selectedSubject{
  background-color: orange;
}